<div class="modal fade" id="modal-setaddress-xl">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Penentuan Alamat</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <section class="content">
                <div class="container-fluid">
                  <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                      <!-- general form elements -->
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">State</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                          <div class="card-body">
                            <div class="form-group">
                              <label for="exampleInputEmail1">State</label>
                              <select name="select2state" id="select2state" class="form-control select2">
                                <option value="623">Jawa Timur</option>
                                <option value="619">Jakarta</option>
                                <option value="621">Jawa Barat</option>
                                <option value="622">Jawa Tengah</option>
                                <option value="614">Bali</option>

                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">City</label>
                              <select name="select2city" id="select2city" style="width: 100%;"></select>
                            </div>
                            <div class="form-group">
                              <label for="">Kecamatan</label>
                              <select name="select2kecamatan" id="select2kecamatan" style="width: 100%;"></select>
                            </div>
                          </div>
                          <!-- /.card-body -->
          
                        </form>
                      </div>
                      <!-- /.card -->
          
                      <!-- general form elements -->
                      <!-- /.card -->
          
                      <!-- Input addon -->
                      <!-- /.card -->
                      <!-- Horizontal Form -->
                      <!-- /.card -->
          
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">
                      <!-- Form Element sizes -->
                      <div class="card card-success">
                        <div class="card-header">
                          <h3 class="card-title">Kelurahan</h3>
                        </div>
                        <div class="card-body">
                          <select name="select2kelurahan" id="select2kelurahan" class="form-control form-control-lg"></select>
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
          
                      <!-- /.card -->
          
                      <!-- general form elements disabled -->
                      <!-- /.card -->
                      <!-- general form elements disabled -->
                      <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                  </div>
                  <!-- /.row -->
                </div><!-- /.container-fluid -->
              </section>






            </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="savepoint" data-dismiss="modal">Simpan</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
