<div class="modal fade" id="modal-addticket-xl">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Penambahan Ticket</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">







            <section class="content">
                <div class="container-fluid">
                  <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                      <!-- general form elements -->
                      <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">Pelanggan</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                          <div class="card-body">
                            <div class="form-group">
                              <label for="exampleInputEmail1">subscription</label>
                              <select name="subscription" id="subscription" class="form-control select2">
                              </select>
                            </div>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Site</label>
                              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                          </div>
                          <!-- /.card-body -->
          
                        </form>
                      </div>
                      <!-- /.card -->
          
                      <!-- general form elements -->
                      <!-- /.card -->
          
                      <!-- Input addon -->
                      <!-- /.card -->
                      <!-- Horizontal Form -->
                      <!-- /.card -->
          
                    </div>
                    <!--/.col (left) -->
                    <!-- right column -->
                    <div class="col-md-6">
                      <!-- Form Element sizes -->
                      <div class="card card-success">
                        <div class="card-header">
                          <h3 class="card-title">Keluhan</h3>
                        </div>
                        <div class="card-body">
                          <select name="cause" id="cause" class="form-control form-control-lg"></select>
                          <br>
                          <input class="form-control" type="text" placeholder="Pelapor">
                          <br>
                          <input class="form-control form-control-sm" type="text" placeholder="Telepon">
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
          
                      <!-- /.card -->
          
                      <!-- general form elements disabled -->
                      <!-- /.card -->
                      <!-- general form elements disabled -->
                      <!-- /.card -->
                    </div>
                    <!--/.col (right) -->
                  </div>
                  <!-- /.row -->
                </div><!-- /.container-fluid -->
              </section>






            </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Simpan</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
